// Fix the issue where the WP admin-bar overlaps the mobile menu
#wpadminbar {
  position: fixed !important;
}

// Make sure that the WP admin-bar does not overlap the sticky top bar
body.admin-bar.f-topbar-fixed {
  .sticky.fixed {
    margin-top: rem-calc(32);
  }
}

// Styles for Admin Settings Page
body.toplevel_page_solwp_options{
  background: #f1f1f1;
}

.cmb-row .cmb-td {
    float: right !important;
    text-align: right;
}

.cmb2-wrap .wp-color-result {
    padding-bottom: 21px !important;
}

.cmb2-wrap input.cmb2-text-small {
    margin: 0px 0px 10px auto !important;
}

.cmb-row{
    padding: 0 25px !important;
}
.cmb-row:nth-child(2n){
    background-color: #f8f8f8;
}
.cmb2-wrap .wp-picker-container{
  margin: 0 !important;
}

.cmb2-wrap li {
  margin: 0 !important;
}

.cmb-form .accordion-content{
  padding: 0 !important;
}

.cmb-form input[name="submit-cmb"]{
  margin: 20px 0 !important;
}

.cmb-form .accordion-title {
    background: #f6f6ff;
    text-align: center;
}
.cmb-form .accordion-title:hover,
.cmb-form .accordion-title:focus{
    background: #e6e6ef;
}
